VERIFIER_API_KEY=
VERIFIER_URL=
OPENAI_API_KEY=your_openai_api_key_here
AWS_ACCESS_KEY_ID=your_aws_access_key
AWS_SECRET_ACCESS_KEY=your_aws_secret_key
AWS_REGION=us-east-1
AWS_BUCKET_NAME=your-drugip-bucket
AWS_ACCESS_TOKEN=your_sagemaker_access_token

AVALANCHE_RPC_URL=https://api.avax-test.network/ext/bc/C/rpc
PRIVATE_KEY=your_wallet_private_key
DRUGIP_UPKEEP_ADDRESS=0x850B8D455b5228E86F8160746aa2d904d937d941